# Gradle files
.gradle/
build/
app/build/

# Local configuration
local.properties

# IDE files
.idea/
*.iml

# OS files
.DS_Store

# Keystore files
*.jks
*.keystore

# Log files
*.log

# APKs
*.apk

# CMake
.cxx/

